body{
    background-color: #7cd4cc;
}
.container{
    display:grid;
    background-color: #e9e6e6;
    grid-template-columns: auto auto auto auto ;     
    grid-template-rows: 15px 25px 25px 25px 25px;
    width: 120px;
    border:3px solid grey;
    border-radius: 6px;

}

/*bordes y margenes */
.container div{
    border:0px solid;
    margin: 1.5px;
}
.container .item0{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: -0.2px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.container .circle1,.circle2,.circle3{
    text-align: center;
    width: 5.5px;
    height: 5.5px;
    border-radius: 9px;
    display:inline-block;
    border-style:solid;
}
.circle1,.circle2,.circle3{
    position: relative;
    bottom: 3px;
}
/*posicion de los div */
.item0{
    grid-column: 1 / 5;
}
.item1{
    grid-column: 1 / 4;
}
.item3{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}
.item4{
    grid-column: 3 / 5;
}
.item5{
    grid-column: 3 / 5;
}
.item6{
    grid-column: 1 / 2;
}
.item7{
    grid-column: 2 / 4;
}
.item8{
    grid-column: 4 / 5;
}

/*Colores a los div */
.item0{
    background-color: #cac0c0;
}
.item1, .item2{
    background-color: #fc4c44;
}
.item3{
    background-color:#fcaa36;
}
.item4, .item5{
    background-color:#9c057c;
}
.item6, .item7, .item8{
    background-color: #04748c;
}

.container .circle1{
    background-color:#fc4c44;
}
.container .circle2{
    background-color:#fcaa36;
}
.container .circle3{
    background-color:#04cc42;
}